**Tuple**

Tuple adalah jenis dari struktur data yang tidak dapat diubah dan juga tidak dapat ditambahkan atau dihapus elemennya. Umumnya tuple digunakkan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan tanda kurung dan elemen yang dipisahkan dengan koma.

In [1]:
# contoh Tuple
T1 = [1, 'dua', True, 1+2j]
print('ini adalah Tuple', T1)

ini adalah Tuple [1, 'dua', True, (1+2j)]

In [2]:
# Menampilkan tipe struktur data
T1 = [1, 'dua', True, 1+2j]
type(T1)

list

In [9]:
# Sifat-sifat tuple

# 1. Terurut/ordered
T1 = [1, 'dua', True, 1+2j]
## syntax T1[0:4] digunakan untuk menampilkan elemen pada list yang dipanggil secara berurutan (tanda : menyatakan 'sampai dengan elemen tertentu)
T1[0:4]

[1, 'dua', True, (1+2j)]

In [10]:
# 2. Tidak bisa diganti (Inmutable)
T1 = [1, 'dua', True, 1+2j]
T1[3]= 5

In [11]:
# 3. Dapat diindeks atau slicing

print('elemen kedua dari tuple T1 adalah', T1[1])

elemen kedua dari tuple T1 adalah dua

In [12]:
# 4. Dapat diizinkan duplikasi

T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [16]:
# 5.Tidak dapat menambahkan elemen baru

T1 = (1, 'dua', True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [17]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [18]:
# 6. Tidak dapat menghapus elemen

T1 = (1, 'dua', True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [19]:
## menampilkan eror karena tidak dapat menghapus elemen
T1.remove(1)
T1.remove('dua')
print(f' tuple\t: {T1}')

AttributeError: ignored

In [20]:
# 7. Menggabungkan tuple


T3 = T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

In [21]:
# Latihan 1 (Buatlah tuple)

TP = ('Hasan', 20, 5.4, 9-5j)
TP

('Hasan', 20, 5.4, (9-5j))

In [24]:
# 2. Buatlah tuple yang kedua lalu gabungkan 2 tuple yang telah kamu buat

TE = ('Semangat', 7.12, -0.65)
TE

TL = TP+TE
TL

('Hasan', 20, 5.4, (9-5j), 'Semangat', 7.12, -0.65)